@import "tailwindcss";

@theme {
  --color-primary: #1B4332;
  --color-accent: #40916C;
  --color-sage: #D8F3DC;
  --color-dark: #1A1A2E;
  --color-white: #FFFFFF;

  --font-sans: "Inter", sans-serif;
}
